---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Briefings" description="Read our policy briefings." currentPage="briefings">
<header class="section_header54 text-color-white">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="header54_component">
                <div class="max-width-large">
                  <div class="margin-bottom margin-small">
                    <h1 class="heading-style-h1">The Briefing Room</h1>
                  </div>
                  <p class="text-size-medium-2">Cutting-edge economic analysis from leading modern monetary theorists</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header54_background-image-wrapper">
          <div class="image-overlay-layer"></div><img sizes="(max-width: 1920px) 100vw, 1920px" srcset="/images/briefing-room-p-500.avif 500w, images/briefing-room-p-800.avif 800w, images/briefing-room.avif 1920w" alt="" src="/images/briefing-room.avif" loading="eager" class="header54_background-image">
        </div>
      </header>
      <header id="blog-header-24" class="section_blog24">
        <div class="padding-global">
          <div class="container-large">
            <div class="blog24_component">
              <div class="margin-bottom margin-xxlarge">
                <div class="padding-xsmall"></div>
                <div class="margin-bottom margin-xsmall">
                  <div class="text-style-tagline">Featured Briefing</div>
                </div>
              </div>
              <div class="margin-bottom margin-xxlarge">
                <div class="w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <div class="blog24_featured-list-wrapper">
                        <div class="blog24_featured-list">
                          <div class="blog24_featured-item">
                            <a href="#" class="blog24_item-link w-inline-block">
                              <div class="blog24_featured-item-wrapper">
                                <div class="blog24_featured-image-wrapper"><img loading="lazy" src="/images/Placeholder-Image---Landscape.svg" alt="" class="blog24_featured-image w-dyn-bind-empty"></div>
                                <div class="blog24_featured-item-content">
                                  <div class="blog24_item-content-top">
                                    <div class="margin-bottom margin-xsmall">
                                      <div class="blog24_meta-wrapper">
                                        <div class="tag">
                                          <div class="w-dyn-bind-empty"></div>
                                        </div>
                                        <div class="x-min-read">
                                          <div class="text-size-small-5 text-weight-semibold w-dyn-bind-empty"></div>
                                          <div class="text-size-small-5 text-weight-semibold"> min read</div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="margin-bottom margin-xsmall">
                                      <h3 class="heading-style-h4 w-dyn-bind-empty"></h3>
                                    </div>
                                    <div class="text-size-regular w-dyn-bind-empty"></div>
                                  </div>
                                  <div class="margin-top margin-small">
                                    <div class="button-group">
                                      <div class="button-2 is-link is-icon">
                                        <div>Read more</div>
                                        <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                                          </svg></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="w-dyn-empty">
                    <div>No items found.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="padding-xsmall"></div>
            <div class="blog24_content">
              <div data-current="All" data-easing="ease" data-duration-in="300" data-duration-out="100" class="w-tabs">
                <div class="report_tab-menu w-tab-menu">
                  <a data-w-tab="All" class="category-filter-link w-inline-block w-tab-link w--current">
                    <div>All</div>
                  </a>
                  <a data-w-tab="Research" class="category-filter-link w-inline-block w-tab-link">
                    <div>Research</div>
                  </a>
                  <a data-w-tab="Articles" class="category-filter-link w-inline-block w-tab-link">
                    <div>Articles<br></div>
                  </a>
                  <a data-w-tab="Commentary" class="category-filter-link w-inline-block w-tab-link">
                    <div>Commentary</div>
                  </a>
                </div>
                <div class="w-tab-content">
                  <div data-w-tab="All" class="w-tab-pane w--tab-active">
                    <div class="padding-vertical padding-large">
                      <div class="collection-list-wrapper two-column w-dyn-list">
                        <div role="list" class="collection-list two-column w-dyn-items">
                          <div role="listitem" class="w-dyn-item">
                            <div class="blog24_item">
                              <a href="#" class="blog24_item-link w-inline-block">
                                <div class="blog24_image-wrapper"><img loading="lazy" src="/images/Placeholder-Image---Landscape.svg" alt="" class="blog24_image w-dyn-bind-empty"></div>
                                <div class="blog24_item-content">
                                  <div class="blog24_item-content-top">
                                    <div class="margin-bottom margin-xsmall">
                                      <div class="blog24_meta-wrapper">
                                        <div class="tag">
                                          <div class="w-dyn-bind-empty"></div>
                                        </div>
                                        <div class="x-min-read">
                                          <div class="text-size-small-5 text-weight-semibold w-dyn-bind-empty"></div>
                                          <div class="text-size-small-5 text-weight-semibold"> min read</div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="margin-bottom margin-xxsmall">
                                      <h3 class="heading-style-h5-5 w-dyn-bind-empty"></h3>
                                    </div>
                                    <div class="text-size-regular w-dyn-bind-empty"></div>
                                  </div>
                                  <div class="margin-top margin-small">
                                    <div class="button-group">
                                      <div class="button-2 is-link is-icon">
                                        <div>Read more</div>
                                        <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                                          </svg></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="w-dyn-empty">
                          <div>No items found.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-w-tab="Research" class="w-tab-pane">
                    <div class="padding-vertical padding-large">
                      <div class="collection-list-wrapper w-dyn-list">
                        <div role="list" class="collection-list w-dyn-items">
                          <div role="listitem" class="w-dyn-item">
                            <div class="blog24_item">
                              <a href="#" class="blog24_item-link w-inline-block">
                                <div class="blog24_image-wrapper"><img loading="lazy" src="/images/Placeholder-Image---Landscape.svg" alt="" class="blog24_image w-dyn-bind-empty"></div>
                                <div class="blog24_item-content">
                                  <div class="blog24_item-content-top">
                                    <div class="margin-bottom margin-xsmall">
                                      <div class="blog24_meta-wrapper">
                                        <div class="tag">
                                          <div class="w-dyn-bind-empty"></div>
                                        </div>
                                        <div class="x-min-read">
                                          <div class="text-size-small-5 text-weight-semibold w-dyn-bind-empty"></div>
                                          <div class="text-size-small-5 text-weight-semibold"> min read</div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="margin-bottom margin-xxsmall">
                                      <h3 class="heading-style-h5-5 w-dyn-bind-empty"></h3>
                                    </div>
                                    <div class="text-size-regular w-dyn-bind-empty"></div>
                                  </div>
                                  <div class="margin-top margin-small">
                                    <div class="button-group">
                                      <div class="button-2 is-link is-icon">
                                        <div>Read more</div>
                                        <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                                          </svg></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="w-dyn-empty">
                          <div>No items found.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-w-tab="Articles" class="w-tab-pane">
                    <div class="padding-vertical padding-large">
                      <div class="collection-list-wrapper w-dyn-list">
                        <div role="list" class="collection-list w-dyn-items">
                          <div role="listitem" class="w-dyn-item">
                            <div class="blog24_item">
                              <a href="#" class="blog24_item-link w-inline-block">
                                <div class="blog24_image-wrapper"><img loading="lazy" src="/images/Placeholder-Image---Landscape.svg" alt="" class="blog24_image w-dyn-bind-empty"></div>
                                <div class="blog24_item-content">
                                  <div class="blog24_item-content-top">
                                    <div class="margin-bottom margin-xsmall">
                                      <div class="blog24_meta-wrapper">
                                        <div class="tag">
                                          <div class="w-dyn-bind-empty"></div>
                                        </div>
                                        <div class="x-min-read">
                                          <div class="text-size-small-5 text-weight-semibold w-dyn-bind-empty"></div>
                                          <div class="text-size-small-5 text-weight-semibold"> min read</div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="margin-bottom margin-xxsmall">
                                      <h3 class="heading-style-h5-5 w-dyn-bind-empty"></h3>
                                    </div>
                                    <div class="text-size-regular w-dyn-bind-empty"></div>
                                  </div>
                                  <div class="margin-top margin-small">
                                    <div class="button-group">
                                      <div class="button-2 is-link is-icon">
                                        <div>Read more</div>
                                        <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                                          </svg></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="w-dyn-empty">
                          <div>No items found.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-w-tab="Commentary" class="w-tab-pane">
                    <div class="padding-vertical padding-large">
                      <div class="collection-list-wrapper w-dyn-list">
                        <div role="list" class="collection-list w-dyn-items">
                          <div role="listitem" class="w-dyn-item">
                            <div class="blog24_item">
                              <a href="#" class="blog24_item-link w-inline-block">
                                <div class="blog24_image-wrapper"><img loading="lazy" src="/images/Placeholder-Image---Landscape.svg" alt="" class="blog24_image w-dyn-bind-empty"></div>
                                <div class="blog24_item-content">
                                  <div class="blog24_item-content-top">
                                    <div class="margin-bottom margin-xsmall">
                                      <div class="blog24_meta-wrapper">
                                        <div class="tag">
                                          <div class="w-dyn-bind-empty"></div>
                                        </div>
                                        <div class="x-min-read">
                                          <div class="text-size-small-5 text-weight-semibold w-dyn-bind-empty"></div>
                                          <div class="text-size-small-5 text-weight-semibold"> min read</div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="margin-bottom margin-xxsmall">
                                      <h3 class="heading-style-h5-5 w-dyn-bind-empty"></h3>
                                    </div>
                                    <div class="text-size-regular w-dyn-bind-empty"></div>
                                  </div>
                                  <div class="margin-top margin-small">
                                    <div class="button-group">
                                      <div class="button-2 is-link is-icon">
                                        <div>Read more</div>
                                        <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                                          </svg></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="w-dyn-empty">
                          <div>No items found.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
</BaseLayout>
