---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Donate" description="Support MMTUK's mission to promote understanding of Modern Monetary Theory. Your donation funds independent research, education programmes and community outreach across the UK." currentPage="donate">
<header class="section_header54 text-color-white">
        <div class="header54_background-image-wrapper">
          <div class="image-overlay-layer"></div><img sizes="(max-width: 2400px) 100vw, 2400px" srcset="/images/matt-seymour-RI1x1DpqEH4-unsplash-p-500.avif 500w, images/matt-seymour-RI1x1DpqEH4-unsplash-p-800.avif 800w, images/Donate-decoration.avif 2400w" alt="" src="/images/Donate-decoration.avif" loading="eager" class="header54_background-image">
        </div>
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="header54_component">
                <div class="max-width-large">
                  <div class="margin-bottom margin-small">
                    <h1 class="heading-style-h1">Support modern economics</h1>
                  </div>
                  <div class="margin-bottom">
                    <p class="text-size-medium-2">Join our mission to advance progressive economic thinking through research, collaboration, and innovative funding strategies.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="section_support_feature-1 founder-scheme color-scheme-5">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="support_feature-1_component">
                <div class="w-layout-grid support_feature-1_content">
                  <div id="w-node-f7d07a1c-fbbc-e0ec-c1e6-f8245b94a68e-1bc33e5e" class="support_feature-1_content-left">
                    <div class="support_feature-1_icon-wrapper">
                      <div class="icon-1x1-large founder w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 -960 960 960">
                          <path fill="currentColor" d="M292.48-516.28q17.04-33.85 36.47-67.06 19.42-33.2 41.22-63.77l-76.6-15.52-103.03 103.26 101.94 43.09ZM808.2-821.35q-102 5.96-181.85 43.98-79.85 38.02-156.65 114.83-30.77 30.76-63.05 79.68-32.28 48.93-59.72 107.36L478.5-343.93q58.2-27.44 107.24-59.48 49.04-32.05 79.8-62.81 76.81-77.04 114.71-156.51 37.9-79.47 44.1-181.47.24-3.71-.88-7.07-1.12-3.36-3.36-5.84-2.48-2.24-5.34-3.36-2.86-1.12-6.57-.88ZM576.46-572.22q-19.76-19.76-19.76-48.66 0-28.9 19.76-48.66 19.76-19.53 48.42-19.53t48.42 19.53q19.77 19.76 19.77 48.66 0 28.9-19.77 48.66-19.76 19.52-48.42 19.52t-48.42-19.52Zm-57.18 283.74 43.09 100.94 103.26-103.03-14.52-76.6q-30.57 21.56-64.27 41.6-33.71 20.05-67.56 37.09Zm376.11-567.85q2.28 130.03-41.81 236.72-44.1 106.7-137.14 199.98-1.48 1.24-2.96 2.34-1.48 1.09-2.96 2.33l22.24 110.48q3.48 17.15-1.36 33.31-4.83 16.15-17.03 28.58L575.04-103.5q-12.67 12.67-30.32 9.32-17.65-3.36-24.37-20.52l-69.44-160.34-171.87-172.87-161.34-68.44q-17.16-6.72-20.02-24.87-2.85-18.15 9.82-30.58l138.57-138.57q12.43-12.43 28.22-17.53 15.8-5.1 32.95-1.62l110.72 22q1.24-1.24 2.59-2.22 1.36-.98 2.84-2.22 93.52-93.52 199.6-137.5 106.08-43.98 236.1-41.93 6.95 0 13.17 2.86t11.7 8.33q5.71 5.48 8.57 11.32 2.86 5.84 2.86 12.55Zm-753.8 532.29q36.91-36.92 89.44-37.42 52.54-.5 89.45 36.42 36.67 36.67 36.17 89.32-.5 52.65-37.17 89.33-48.91 48.91-117.28 59.01-68.37 10.1-137 18.62 8.52-68.87 18.12-137.74 9.59-68.87 58.27-117.54Zm47.98 48.74q-23.05 25.04-29.69 57.6-6.64 32.57-12.4 65.9 33.09-5.77 65.77-12.65 32.68-6.88 57.49-29.92 19.04-16.04 18.92-40.35-.12-24.3-17.16-42.58-18.28-17.05-42.59-17.05-24.3 0-40.34 19.05Z"></path>
                        </svg></div>
                    </div>
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2 left">founder member scheme</h2>
                    </div>
                    <div class="margin-bottom">
                      <p class="text-size-medium-2">Calling 100 visionary donors to make a difference</p>
                    </div>
                    <div class="padding-smallish"></div>
                    <div class="margin-bottom">
                      <p class="text-size-medium-2">Be among the first 100 donors to contribute £100 or more within 100 days to secure your exclusive invitation to our landmark launch party.</p>
                    </div>
                  </div>
                  <div class="support_feature-1_image-wrapper"><img sizes="(max-width: 2400px) 100vw, 2400px" srcset="/images/diana-light-lK_nxI17h-U-unsplash-p-500.avif 500w, images/diana-light-lK_nxI17h-U-unsplash-p-800.avif 800w, images/diana-light-lK_nxI17h-U-unsplash-p-1080.avif 1080w, images/envelopes.avif 2400w" alt="" src="/images/envelopes.avif" loading="lazy" class="support_feature-1_image"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <header class="section_founder-member-scheme_feature-2">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="founder-member-scheme_feature-2_component">
                <div class="w-layout-grid founder-member-scheme_feature-2_content">
                  <div class="founder-member-scheme_feature-2_title-wrapper">
                    <div class="margin-bottom margin-medium"></div>
                    <div class="margin-bottom margin-small">
                      <h1 class="heading-style-h3">fuel our foundations</h1>
                    </div>
                    <div class="margin-top margin-small">
                      <div class="founder-member-scheme_feature-2_details-wrapper">
                        <div class="tag">
                          <div>The application deadline is:</div>
                        </div>
                        <div class="text-size-medium-2 text-weight-semibold">Fri 5 Jun 2026</div>
                      </div>
                    </div>
                    <div class="margin-top margin-medium">
                      <div class="founder-member-scheme_feature-2_countdown">
                        <div class="founder-member-scheme_feature-2_number-wrapper">
                          <div id="days" class="heading-style-h3">45</div>
                          <div>Days</div>
                        </div>
                        <div class="divider-vertical"></div>
                        <div class="founder-member-scheme_feature-2_number-wrapper">
                          <div id="hours" class="heading-style-h3">12</div>
                          <div>Hours</div>
                        </div>
                        <div class="divider-vertical"></div>
                        <div class="founder-member-scheme_feature-2_number-wrapper">
                          <div id="minutes" class="heading-style-h3">44</div>
                          <div>Mins</div>
                        </div>
                        <div class="divider-vertical"></div>
                        <div class="founder-member-scheme_feature-2_number-wrapper">
                          <div id="seconds" class="heading-style-h3">29</div>
                          <div>Secs</div>
                        </div>
                        <div class="founder-member-scheme_feature-2_number-changes w-embed w-script"><!--  This script is managed by Consent Pro  -->
                          <script type="text/javascript">
(function () {
  const second = 1000,
    minute = second * 60,
    hour = minute * 60,
    day = hour * 24;
	// Set the target date and time for the countdown (format: "MM/DD/YYYY HH:mm:ss")
  const targetDateString = "06/05/2026 00:00:00";
  const targetDate = new Date(targetDateString).getTime();
  const updateCountdown = () => {
    const now = new Date().getTime(), // Get the current date and time
      distance = targetDate - now; // Calculate the time remaining until the target date
		// Update the HTML elements with the remaining time
    document.getElementById('days').innerText = Math.floor(distance / day);
    document.getElementById('hours').innerText = Math.floor((distance % day) / hour);
    document.getElementById('minutes').innerText = Math.floor((distance % hour) / minute);
    document.getElementById('seconds').innerText = Math.floor((distance % minute) / second);
    // Check if the target date has already passed
    if (distance < 0) {
      clearInterval(interval); // Stop the countdown timer
				document.getElementById('days').innerText = '0';
				document.getElementById('hours').innerText = '0';
				document.getElementById('minutes').innerText = '0';
				document.getElementById('seconds').innerText = '0';
      // You can display an element at the end of the countdown with this ID  
        document.getElementById('message').style.display = 'block';
    }
  };
  // Initial call to update countdown
  updateCountdown();
  // Update the countdown every second
  const interval = setInterval(updateCountdown, 1000);
})();
</script>
                        </div>
                      </div>
                    </div>
                    <div class="margin-top margin-medium">
                      <div class="founder-member-scheme_feature-2_form-block w-form">
                        <div class="form_message-success-wrapper w-form-done">
                          <div class="form_message-success">
                            <div>Invitation request received. Welcome to our mission</div>
                          </div>
                        </div>
                        <div class="form_message-error-wrapper w-form-fail">
                          <div class="form_message-error">
                            <div>Connection failed. Please try again</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="w-node-b4d2dfc2-bce3-bfff-4c94-a9750d3bef59-1bc33e5e" class="founder-member-scheme_cta_plan">
                    <div class="founder-member-scheme_cta_content-top">
                      <div class="founder-member-scheme_cta_top-left">
                        <div class="margin-bottom margin-xxsmall">
                          <div class="heading-style-h5">Founder Member donation</div>
                        </div>
                      </div>
                      <div class="founder-member-scheme_cta_top-right">
                        <div class="heading-style-h2 heading-join">£100</div>
                      </div>
                    </div>
                    <div class="margin-vertical margin-medium">
                      <div class="divider-horizontal"></div>
                    </div>
                    <div class="margin-bottom margin-xsmall"></div>
                    <div class="margin-vertical margin-medium"></div>
                    <a href="https://donate.stripe.com/9B6fZh3d0cE78S20JffYY02" target="_blank" class="button-2 max-width-full w-button">Join as a Founder Member of MMTUK</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="section_support_feature-2">
        <div class="padding-global">
          <div class="divider-horizontal page_divider"></div>
          <div class="container-large">
            <div class="padding-section-large">
              <div class="support_feature-2_component">
                <div class="w-layout-grid support_feature-2_content">
                  <div class="support_feature-2_image-wrapper"><img sizes="(max-width: 2400px) 100vw, 2400px" srcset="/images/markus-spiske-XrIfY_4cK1w-unsplash-p-500.avif 500w, images/markus-spiske-XrIfY_4cK1w-unsplash-p-800.avif 800w, images/markus-spiske-XrIfY_4cK1w-unsplash-p-1080.avif 1080w, images/financial-charts.avif 2400w" alt="" src="/images/financial-charts.avif" loading="lazy" class="support_feature-2_image"></div>
                  <div id="w-node-f7d07a1c-fbbc-e0ec-c1e6-f8245b94a6a9-1bc33e5e" class="support_feature-2_content-right">
                    <div class="support_feature-1_icon-wrapper"><img src="/images/gift.svg" loading="lazy" alt="" class="icon-1x1-large founder"></div>
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2 left">research Donations</h2>
                    </div>
                    <div class="margin-bottom margin-small">
                      <p class="text-size-medium-2">Support our research projects. Every contribution drives meaningful change.</p>
                    </div>
                    <ul role="list" class="support_feature-2_list">
                      <li class="support_feature-2_item">
                        <p>Fund groundbreaking research initiatives</p>
                      </li>
                      <li class="support_feature-2_item">
                        <p>Support emerging economic scholars</p>
                      </li>
                      <li class="support_feature-2_item">
                        <p>Advance progressive economic thinking</p>
                      </li>
                    </ul>
                    <div class="margin-top margin-medium"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_donate-support_pricing">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="donate-support_pricing_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2">Research Donation levels</h2>
                      </div>
                      <p class="text-size-medium-2 align-center">Choose a contribution that matches your commitment to economic research</p>
                    </div>
                  </div>
                </div>
                <div class="w-layout-grid donate-support_pricing_grid-list">
                  <div class="donate-support_pricing_plan">
                    <div class="donate-support_pricing_content-top">
                      <div class="margin-bottom margin-medium">
                        <div class="text-align-center">
                          <div class="margin-bottom margin-xxsmall">
                            <div class="heading-style-h6">Supporter</div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <div class="heading-style-h1">£5</div>
                          </div>
                          <div>Monthly contribution</div>
                        </div>
                      </div>
                    </div>
                    <div class="margin-top margin-medium">
                      <a href="https://donate.stripe.com/14A5kD28WgUn7NY8bHfYY01" class="button-2 max-width-full w-button">Donate now</a>
                    </div>
                  </div>
                  <div class="founder-member-scheme_cta_plan">
                    <div class="donate-support_pricing_content-top">
                      <div class="margin-bottom margin-medium">
                        <div class="text-align-center">
                          <div class="margin-bottom margin-xxsmall">
                            <div class="heading-style-h6">Founder</div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <div class="heading-style-h1">£100</div>
                          </div>
                          <div>One-off donation</div>
                        </div>
                      </div>
                    </div>
                    <div class="margin-top margin-medium">
                      <a href="https://donate.stripe.com/9B6fZh3d0cE78S20JffYY02" target="_blank" class="button-2 max-width-full w-button">Donate now</a>
                    </div>
                  </div>
                  <div class="donate-support_pricing_plan patron">
                    <div class="donate-support_pricing_content-top">
                      <div class="margin-bottom margin-medium">
                        <div class="text-align-center">
                          <div class="margin-bottom margin-xxsmall">
                            <div class="heading-style-h6">Patron</div>
                          </div>
                          <div class="margin-bottom margin-xxsmall">
                            <div class="heading-style-h1">£?</div>
                          </div>
                          <div>One-off donation</div>
                        </div>
                      </div>
                    </div>
                    <div class="margin-top margin-medium research-donation-buttons">
                      <a href="https://donate.stripe.com/aFa3cvbJwcE7fgqajPfYY03" target="_blank" class="button-2 max-width-full w-button">Donate now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_donate-support_feature_tx color-scheme-1">
        <div class="padding-global">
          <div class="divider-horizontal page_divider"></div>
          <div class="container-large">
            <div class="padding-section-large">
              <div class="support_feature-1_component">
                <div class="w-layout-grid support_feature-1_content">
                  <div class="support_feature-1_content-left">
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h3">thank you for Transforming economics with us</h2>
                    </div>
                    <p class="text-size-medium-2">Your contribution matters. Help us reshape economic understanding through collaborative, progressive research.</p>
                    <div class="margin-top margin-medium"></div>
                  </div>
                  <div class="support_feature-1_image-wrapper"><img loading="lazy" src="/images/owl.avif" alt="Owl photo" class="support_feature-1_image"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</BaseLayout>
