---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Education" description="MMT educational resources." currentPage="education">
<header class="section_header54 text-color-white">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="header54_component">
                <div class="max-width-large">
                  <div class="margin-bottom margin-small">
                    <h1 class="heading-style-h1">education</h1>
                  </div>
                  <p class="text-size-medium-2 is-dark">Grounding public debate in a clearer understanding of how the economy works</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header54_background-image-wrapper">
          <div class="image-overlay-layer"></div><img loading="eager" src="/images/hands-up.avif" alt="" class="header54_background-image">
        </div>
      </header>
      <header class="section_header2">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="header2_component">
                <div class="w-layout-grid header2_content">
                  <div class="header2_content-left">
                    <div class="margin-bottom margin-small">
                      <h1 class="heading-style-h1">ask mmtuk</h1>
                    </div>
                    <p class="text-size-medium-21">Ask MMT is our AI powered guide to Modern Monetary Theory, trained on academic papers, podcasts and trusted MMT sources. Simply ask a question, receive a clear answer and explore the original sources cited so you can dig deeper and verify the evidence.</p>
                    <div class="margin-top margin-medium">
                      <div class="header2_form-block w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get" class="header2_form" data-wf-page-id="6972514d36c07b344f3ffc3c" data-wf-element-id="4d9d7875-68d0-0984-b199-08e4d42dc8d6"><input class="form_input w-input" maxlength="256" name="Question" data-name="Question" placeholder="Ask your question here" type="text" id="Question" required=""><input type="submit" data-wait="Please wait..." class="button-2 w-button" value="Submit"></form>
                        <div class="text-size-tiny">By clicking Sign Up you&#x27;re confirming that you agree with our <a href="/terms-of-engagement" class="text-link">Terms and Conditions</a>.</div>
                        <div class="form_message-success-wrapper w-form-done">
                          <div class="form_message-success">
                            <div>Thank you! Your submission has been received!</div>
                          </div>
                        </div>
                        <div class="form_message-error-wrapper w-form-fail">
                          <div class="form_message-error">
                            <div>Oops! Something went wrong while submitting the form.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="header2_image-wrapper"><img loading="eager" src="/images/Ask-a-question.png" alt="" class="header2_image"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="section_faq7 color-scheme-4">
        <div class="padding-global">
          <div class="divider-horizontal page_divider"></div>
          <div class="container-large">
            <div class="padding-section-large">
              <div class="faq7_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2 left">What is MMT?</h2>
                      </div>
                      <p class="text-size-medium approach">An introduction to Modern Monetary Theory and its principles</p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="accordion1_component">
                    <div data-w-id="59f0a464-8771-a027-56b9-6530aadc4963" class="accordion1_top">
                      <div class="text-size-medium-22 text-weight-bold">The Self-Financing State</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">A country like the UK, which has its own currency, never has to worry about running out of money. The government always creates new money when it spends, and that's how it pays for everything, not from taxes or by borrowing.</p>
                        <a href="/articles/self-financing-state" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion1_component">
                    <div data-w-id="c730c73a-20dd-e83a-86f7-83281335e67b" class="accordion1_top">
                      <div class="text-size-medium-23 text-weight-bold">The UK National Debt</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">UK debt represents money the government invested in our economy but hasn't taxed back. It corresponds exactly to the net financial savings held by the private sector; effectively, the government's liability is our asset.</p>
                        <a href="/articles/uk-national-debt" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion1_component">
                    <div data-w-id="ccf24299-5f11-1911-5232-74c36621d05b" class="accordion1_top">
                      <div class="text-size-medium-24 text-weight-bold">The Role of Taxation in the UK</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">The purpose of taxes is not to fund government spending; it is to create demand for the currency and to help manage the economy.</p>
                        <a href="/articles/role-of-taxation" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion1_component">
                    <div data-w-id="9d6e7580-0ea2-3672-fa42-1bfee63e6107" class="accordion1_top">
                      <div class="text-size-medium-25 text-weight-bold">Understanding UK Inflation</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">Inflation is defined as a sustained rise in the general price level. In the UK, inflation is not primarily caused by government spending creating "too much money" but by supply constraints, energy costs, and market power limiting how much the economy can actually produce.</p>
                        <a href="/articles/understanding-inflation" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion1_component">
                    <div data-w-id="1c20c0ae-a8e9-f6bf-f612-e3ecb7dacfe7" class="accordion1_top">
                      <div class="text-size-medium-25 text-weight-bold">The UK Government vs the Bond Market</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">The UK government cannot be forced into bankruptcy by rising bond yields because it creates the money required to pay bondholders.</p>
                        <a href="/articles/government-vs-bond-market" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion1_component">
                    <div data-w-id="2d27e85b-1a6c-2b0a-d906-882c4bb0f0e2" class="accordion1_top">
                      <div class="text-size-medium-25 text-weight-bold">How Money Actually Works: Step-by-Step</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">Once you understand that money is created by the state and that taxes create demand for it, the rest of how the economy works follows as a matter of pure logic.</p>
                        <a href="/articles/how-money-works" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section_faq7 color-scheme-2">
        <div class="padding-global">
          <div class="divider-horizontal page_divider"></div>
          <div class="container-large">
            <div class="padding-section-large">
              <div class="faq7_component">
                <div class="margin-bottom margin-xxlarge">
                  <div class="text-align-center">
                    <div class="max-width-large align-center">
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2 left">Addressing common objections to MMT</h2>
                      </div>
                      <p class="text-size-medium approach">Common questions and misconceptions about Modern Monetary Theory</p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="accordion1_component">
                    <div data-w-id="objection-accordion-1" class="accordion1_top">
                      <div class="text-size-medium-22 text-weight-bold">Won't this cause inflation?</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <a href="#" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion1_component">
                    <div data-w-id="objection-accordion-2" class="accordion1_top">
                      <div class="text-size-medium-23 text-weight-bold">Can't we just print unlimited money?</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a href="#" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion1_component">
                    <div data-w-id="objection-accordion-3" class="accordion1_top">
                      <div class="text-size-medium-24 text-weight-bold">What about the bond markets?</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <a href="#" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion1_component">
                    <div data-w-id="objection-accordion-4" class="accordion1_top">
                      <div class="text-size-medium-25 text-weight-bold">Isn't this just magic money tree thinking?</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                        <a href="#" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion1_component">
                    <div data-w-id="objection-accordion-5" class="accordion1_top">
                      <div class="text-size-medium-25 text-weight-bold">How is this different from Zimbabwe/Venezuela?</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                        <a href="#" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="accordion1_component">
                    <div data-w-id="objection-accordion-6" class="accordion1_top">
                      <div class="text-size-medium-25 text-weight-bold">Won't future generations pay for this?</div>
                      <div class="accordion1_icon w-embed"><svg width="100%" height="100%" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5303 20.8839C16.2374 21.1768 15.7626 21.1768 15.4697 20.8839L7.82318 13.2374C7.53029 12.9445 7.53029 12.4697 7.82318 12.1768L8.17674 11.8232C8.46963 11.5303 8.9445 11.5303 9.2374 11.8232L16 18.5858L22.7626 11.8232C23.0555 11.5303 23.5303 11.5303 23.8232 11.8232L24.1768 12.1768C24.4697 12.4697 24.4697 12.9445 24.1768 13.2374L16.5303 20.8839Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                    <div style="height:0px" class="accordion1_bottom">
                      <div class="margin-bottom margin-small" style="display: flex; justify-content: space-between; align-items: flex-end; gap: 1rem;">
                        <p style="margin: 0;">Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit.</p>
                        <a href="#" class="button is-link is-icon w-inline-block" style="flex-shrink: 0;">
                          <div>Read more</div>
                          <div class="icon-embed-xxsmall w-embed"><svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                          </svg></div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</BaseLayout>
