---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home" currentPage="home">
  <header class="section_header102">
    <div class="header102_component">
      <div id="w-node-b45eb2d1-a9cb-fb6d-51c4-326d99812c3e-fa716c8e" class="header102_content">
        <div class="margin-bottom margin-small">
          <h1 class="heading-style-h1">Driving Economic change</h1>
        </div>
        <p class="text-size-medium-8 left-justified">MMT UK is an independent research organisation dedicated to producing high-quality, evidence-based analysis informed by Modern Monetary Theory (MMT).</p>
      </div>
      <div data-delay="4000" data-animation="slide" class="header102_slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" id="w-node-b45eb2d1-a9cb-fb6d-51c4-326d99812c4a-fa716c8e">
        <div class="header102_mask w-slider-mask">
          <div class="header102_slide w-slide">
            <div class="header102_slide-wrapper">
              <div class="header102_slide-image-wrapper">
                <img sizes="(max-width: 2400px) 100vw, 2400px" srcset="/images/getty-images-43pNHZDCKnU-unsplash-p-500.avif 500w, /images/getty-images-43pNHZDCKnU-unsplash-p-800.avif 800w, /images/getty-images-43pNHZDCKnU-unsplash-p-1080.avif 1080w, /images/report-writing.avif 2400w" alt="" src="/images/report-writing.avif" loading="lazy" class="header102_slide-image">
              </div>
              <div class="header102_slide-content">
                <div class="header102_slide-content-wrapper">
                  <div class="margin-bottom margin-tiny">
                    <div class="heading-style-h6">Academic research</div>
                  </div>
                  <p>Peer-reviewed studies translating macroeconomics into evidence-based, actionable UK policy.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="header102_slide w-slide">
            <div class="header102_slide-wrapper">
              <div class="header102_slide-image-wrapper">
                <img sizes="(max-width: 2400px) 100vw, 2400px" srcset="/images/marcos-luiz-photograph-R6xx6fnvPT8-unsplash-p-500.avif 500w, /images/marcos-luiz-photograph-R6xx6fnvPT8-unsplash-p-800.avif 800w, /images/marcos-luiz-photograph-R6xx6fnvPT8-unsplash-p-1080.avif 1080w, /images/marcos-luiz-photograph-R6xx6fnvPT8-unsplash-p-1600.avif 1600w, /images/hands-up.avif 2400w" alt="" src="/images/hands-up.avif" loading="lazy" class="header102_slide-image">
              </div>
              <div class="header102_slide-content">
                <div class="header102_slide-content-wrapper">
                  <div class="margin-bottom margin-tiny">
                    <div class="heading-style-h6">Education &amp; training</div>
                  </div>
                  <p>Courses and workshops equipping citizens and leaders with modern money literacy skills.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="header102_slide w-slide">
            <div class="header102_slide-wrapper">
              <div class="header102_slide-image-wrapper">
                <img loading="lazy" src="/images/events-lecture.avif" alt="" class="header102_slide-image">
              </div>
              <div class="header102_slide-content">
                <div class="header102_slide-content-wrapper">
                  <div class="margin-bottom margin-tiny">
                    <div class="heading-style-h6">Community outreach</div>
                  </div>
                  <p>Events, collaborations, and campaigns connecting research with real community priorities across Britain.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header102_arrow is-left w-slider-arrow-left">
          <div class="product-header7_arrow-icon-copy w-embed">
            <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z" fill="currentColor"></path>
            </svg>
          </div>
        </div>
        <div class="header102_arrow w-slider-arrow-right">
          <div class="product-header7_arrow-icon-copy w-embed">
            <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.6893 7.25L6.96967 1.53033L8.03033 0.469666L15.5607 8L8.03033 15.5303L6.96967 14.4697L12.6893 8.75H0.5V7.25H12.6893Z" fill="currentColor"></path>
            </svg>
          </div>
        </div>
        <div class="header102_slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </header>

  <header class="section_header_home_research">
    <div class="padding-global">
      <div class="divider-horizontal page_divider"></div>
      <div class="container-large">
        <div class="padding-section-large">
          <div class="header46_component">
            <div class="max-width-large">
              <div class="margin-bottom margin-small">
                <h2 class="heading-style-h2 left">Academic Research</h2>
              </div>
              <p class="text-size-medium left-justified">Strategic research and targeted advocacy to transform Britain's economic landscape through innovative policy frameworks</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section_layout_home_research">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="layout132_component">
            <div class="w-layout-grid layout132_content">
              <div class="layout132_item">
                <div class="margin-bottom margin-medium">
                  <div class="layout132_image-wrapper">
                    <img sizes="(max-width: 2400px) 100vw, 2400px" srcset="/images/desola-lanre-ologun-IgUR1iX0mqM-unsplash-p-500.avif 500w, /images/desola-lanre-ologun-IgUR1iX0mqM-unsplash-p-800.avif 800w, /images/desola-lanre-ologun-IgUR1iX0mqM-unsplash-p-1080.avif 1080w, /images/adult-education.avif 2400w" alt="Adult education college" src="/images/adult-education.avif" loading="lazy" class="layout132_image">
                  </div>
                </div>
                <div class="margin-bottom margin-small">
                  <h3 class="heading-style-h4">The Job Guarantee</h3>
                </div>
                <p>Our UK-focused proposal is in advanced draft form. It demonstrates how MMT can achieve full employment and price stability.</p>
                <div class="margin-top margin-medium">
                  <div class="button-group">
                    <a href="/job-guarantee" class="button-2 is-link is-icon w-inline-block">
                      <div>Read more</div>
                      <div class="icon-embed-xxsmall w-embed">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="layout132_item">
                <div class="margin-bottom margin-medium">
                  <div class="layout132_image-wrapper">
                    <img sizes="(max-width: 2400px) 100vw, 2400px" srcset="/images/francais-a-londres-ZdUeSMxgSoo-unsplash-p-500.avif 500w, /images/francais-a-londres-ZdUeSMxgSoo-unsplash-p-800.avif 800w, /images/francais-a-londres-ZdUeSMxgSoo-unsplash-p-1080.avif 1080w, /images/francais-a-londres-ZdUeSMxgSoo-unsplash-p-1600.avif 1600w, /images/central-london-banks.avif 2400w" alt="Central London banks" src="/images/central-london-banks.avif" loading="lazy" class="layout132_image">
                  </div>
                </div>
                <div class="margin-bottom margin-small">
                  <h3 class="heading-style-h4">Zero Interest Rate Policy (ZIRP)</h3>
                </div>
                <p>A UK framework for a standing 0 percent policy rate, with fiscal stabilisers managing demand and prices.</p>
                <div class="margin-top margin-medium">
                  <div class="button-group">
                    <a href="/research" class="button-2 is-link is-icon w-inline-block">
                      <div>Read more</div>
                      <div class="icon-embed-xxsmall w-embed">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <header class="section_header_home_education">
    <div class="padding-global">
      <div class="divider-horizontal page_divider"></div>
      <div class="container-large">
        <div class="padding-section-large">
          <div class="header46_component">
            <div class="max-width-large">
              <div class="margin-bottom margin-small">
                <h2 class="heading-style-h2 left">Education &amp; Training</h2>
              </div>
              <p class="text-size-medium left-justified">Explore our library and briefings for clear, practical guides to UK macro-economic policy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section_layout_home_education">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="layout132_component">
            <div class="w-layout-grid layout132_content">
              <div class="layout132_item">
                <div class="margin-bottom margin-medium">
                  <div class="layout132_image-wrapper">
                    <img sizes="(max-width: 2400px) 100vw, 2400px" srcset="/images/Library-p-500.avif 500w, /images/Library-p-800.avif 800w, /images/Library-p-1080.avif 1080w, /images/Library.avif 2400w" alt="" src="/images/Library.avif" loading="lazy" class="layout132_image">
                  </div>
                </div>
                <div class="margin-bottom margin-small">
                  <h3 class="heading-style-h4">The MMT UK library</h3>
                </div>
                <p>Searchable library of papers, podcasts, articles and more on economics through the lens of MMT.</p>
                <div class="margin-top margin-medium">
                  <div class="button-group">
                    <a href="/library" class="button-2 is-link is-icon w-inline-block">
                      <div>Read more</div>
                      <div class="icon-embed-xxsmall w-embed">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="layout132_item">
                <div class="margin-bottom margin-medium">
                  <div class="layout132_image-wrapper">
                    <img sizes="(max-width: 2400px) 100vw, 2400px" srcset="/images/francais-a-londres-ZdUeSMxgSoo-unsplash-p-500.avif 500w, /images/francais-a-londres-ZdUeSMxgSoo-unsplash-p-800.avif 800w, /images/francais-a-londres-ZdUeSMxgSoo-unsplash-p-1080.avif 1080w, /images/francais-a-londres-ZdUeSMxgSoo-unsplash-p-1600.avif 1600w, /images/central-london-banks.avif 2400w" alt="Central London banks" src="/images/central-london-banks.avif" loading="lazy" class="layout132_image">
                  </div>
                </div>
                <div class="margin-bottom margin-small">
                  <h3 class="heading-style-h4">Our Briefings</h3>
                </div>
                <p>Concise briefings from MMT UK and our guests explaining UK macro policy with practical, actionable insights.</p>
                <div class="margin-top margin-medium">
                  <div class="button-group">
                    <a href="/briefings" class="button-2 is-link is-icon w-inline-block">
                      <div>Read more</div>
                      <div class="icon-embed-xxsmall w-embed">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <header class="section_header_home_community">
    <div class="padding-global">
      <div class="divider-horizontal page_divider"></div>
      <div class="container-large">
        <div class="padding-section-large">
          <div class="header46_component">
            <div class="max-width-large">
              <div class="margin-bottom margin-small">
                <h2 class="heading-style-h2 left">Community &amp; Network</h2>
              </div>
              <p class="text-size-medium left-justified">Connect with other people interested in MMT by joining local groups, public events and active online discussions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section_layout_home_community">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="layout132_component">
            <div class="w-layout-grid layout132_content home-community">
              <div class="layout132_item">
                <div class="margin-bottom margin-medium">
                  <div class="layout132_image-wrapper">
                    <img sizes="(max-width: 1920px) 100vw, 1920px" srcset="/images/Local-events-p-500.avif 500w, /images/Local-events-p-800.avif 800w, /images/Local-events-p-1080.avif 1080w, /images/Local-events.avif 1920w" alt="" src="/images/Local-events.avif" loading="lazy" class="layout132_image">
                  </div>
                </div>
                <div class="margin-bottom margin-small">
                  <h3 class="heading-style-h4">Local Groups</h3>
                </div>
                <p>Join or start local MMT groups, supported and connected nationwide.</p>
                <div class="margin-top margin-medium">
                  <div class="button-group">
                    <a href="/join" class="button-2 is-link is-icon w-inline-block">
                      <div>Read more</div>
                      <div class="icon-embed-xxsmall w-embed">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="layout132_item">
                <div class="margin-bottom margin-medium">
                  <div class="layout132_image-wrapper">
                    <img loading="lazy" src="/images/events-lecture.avif" alt="" class="layout132_image">
                  </div>
                </div>
                <div class="margin-bottom margin-small">
                  <h3 class="heading-style-h4">Events</h3>
                </div>
                <p>Join talks, workshops, and conferences we host and attend nationwide.</p>
                <div class="margin-top margin-medium">
                  <div class="button-group">
                    <a href="/join" class="button-2 is-link is-icon w-inline-block">
                      <div>Read more</div>
                      <div class="icon-embed-xxsmall w-embed">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="layout132_item">
                <div class="margin-bottom margin-medium">
                  <div class="layout132_image-wrapper">
                    <img loading="lazy" src="/images/events-online-workshop.avif" alt="" class="layout132_image">
                  </div>
                </div>
                <div class="margin-bottom margin-small">
                  <h3 class="heading-style-h4">Online</h3>
                </div>
                <p>Debate, learn, and organise together in our moderated online community.</p>
                <div class="margin-top margin-medium">
                  <div class="button-group">
                    <a href="/join" class="button-2 is-link is-icon w-inline-block">
                      <div>Read more</div>
                      <div class="icon-embed-xxsmall w-embed">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_testimonial7 color-scheme-3">
    <div class="padding-global">
      <div class="divider-horizontal page_divider"></div>
      <div class="container-large">
        <div class="padding-section-large">
          <div class="testimonial7_component">
            <div data-delay="4000" data-animation="slide" class="testimonial7_slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
              <div class="testimonial7_mask w-slider-mask">
                <div class="testimonial7_slide w-slide">
                  <div class="testimonial7_content">
                    <div class="margin-bottom margin-medium">
                      <div class="testimonial7_logo-wrapper"></div>
                    </div>
                    <h3 class="heading-style-h5">"MMT UK turns complex monetary operations into plain English, empowering people to see policy choices clearly and demand better, more humane economics."</h3>
                    <div class="margin-top margin-medium">
                      <div class="testimonial7_client">
                        <div class="margin-bottom margin-xsmall"></div>
                        <div class="text-weight-semibold">Patricia Pino</div>
                        <div>CEO, MMT UK</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial7_slide w-slide">
                  <div class="testimonial7_content">
                    <div class="margin-bottom margin-medium">
                      <div class="testimonial7_logo-wrapper"></div>
                    </div>
                    <h3 class="heading-style-h5">"A rare mix of heterodox depth and public pedagogy. MMT UK elevates debate and equips citizens to challenge harmful myths."</h3>
                    <div class="margin-top margin-medium">
                      <div class="testimonial7_client">
                        <div class="margin-bottom margin-xsmall"></div>
                        <div class="text-weight-semibold">Dr Phil Armstrong</div>
                        <div>Founder, MMT UK</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial7_slide w-slide">
                  <div class="testimonial7_content">
                    <div class="margin-bottom margin-medium">
                      <div class="testimonial7_logo-wrapper"></div>
                    </div>
                    <h3 class="heading-style-h5">"MMT UK marries rigorous scholarship with practical organising. It's a hub where democratic priorities and monetary reality finally meet."</h3>
                    <div class="margin-top margin-medium">
                      <div class="testimonial7_client">
                        <div class="margin-bottom margin-xsmall"></div>
                        <div class="text-weight-semibold">Dr David Merrill</div>
                        <div>Founder, MMT UK</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slider-arrow is-bottom-previous w-slider-arrow-left">
                <div class="slider-arrow-icon_default w-embed">
                  <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z" fill="currentColor"></path>
                  </svg>
                </div>
              </div>
              <div class="slider-arrow is-bottom-next w-slider-arrow-right">
                <div class="slider-arrow-icon_default w-embed">
                  <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.6893 7.25L6.96967 1.53033L8.03033 0.469666L15.5607 8L8.03033 15.5303L6.96967 14.4697L12.6893 8.75H0.5V7.25H12.6893Z" fill="currentColor"></path>
                  </svg>
                </div>
              </div>
              <div class="testimonial7_slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_contact15 color-scheme-3">
    <div class="padding-global">
      <div class="divider-horizontal page_divider"></div>
      <div class="container-large">
        <div class="padding-section-large">
          <div class="contact15_component">
            <div class="margin-bottom margin-xxlarge">
              <div class="w-layout-grid contact15_content">
                <div class="contact15_content-left">
                  <div class="max-width-large">
                    <div class="margin-bottom margin-small">
                      <h2 class="heading-style-h2-4">Contact Us</h2>
                    </div>
                    <p class="text-size-medium-2">Be part of the economic transformation that challenges conventional thinking and drives meaningful policy change</p>
                  </div>
                </div>
                <div class="contact15_content-right">
                  <div class="w-layout-grid contact15_contact-list">
                    <div id="w-node-_71136678-cdb2-0a82-2788-de12cdf8c77f-fa716c8e" class="contact15_item">
                      <div class="contact15_item-icon-wrapper">
                        <div class="icon-embed-xsmall w-embed">
                          <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 4H4C2.897 4 2 4.897 2 6V18C2 19.103 2.897 20 4 20H20C21.103 20 22 19.103 22 18V6C22 4.897 21.103 4 20 4ZM20 6V6.511L12 12.734L4 6.512V6H20ZM4 18V9.044L11.386 14.789C11.5611 14.9265 11.7773 15.0013 12 15.0013C12.2227 15.0013 12.4389 14.9265 12.614 14.789L20 9.044L20.002 18H4Z" fill="currentColor"></path>
                          </svg>
                        </div>
                      </div>
                      <div class="contact15_item-text-wrapper">
                        <div class="margin-bottom margin-xxsmall">
                          <h3 class="heading-style-h6">Email</h3>
                        </div>
                        <a href="mailto:contact@mmtuk.org">contact@mmtuk.org</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
