---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Library" description="Browse our library of MMT resources." currentPage="library">
<header class="section_header54 text-color-white">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="header54_component">
                <div class="max-width-large">
                  <div class="margin-bottom margin-small">
                    <h1 class="heading-style-h1">The Library</h1>
                  </div>
                  <p class="text-size-medium-2">Search our library of curated MMT papers, blogs, podcasts and data with tags and collections for fast UK research of MMT-related content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header54_background-image-wrapper">
          <div class="image-overlay-layer"></div><img sizes="(max-width: 2400px) 100vw, 2400px" srcset="/images/Library-p-500.avif 500w, images/Library-p-800.avif 800w, images/Library-p-1080.avif 1080w, images/Library.avif 2400w" alt="" src="/images/Library.avif" loading="eager" class="header54_background-image">
        </div>
      </header>
      <section class="section_filters5">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-section-large">
              <div class="margin-bottom margin-xxlarge">
                <div class="max-width-large align-center">
                  <div class="text-align-center">
                    <div class="margin-bottom margin-small"></div>
                  </div>
                </div>
              </div>
              <div class="filters5_component">
                <div class="filters5_layout">
                  <div class="w-layout-grid filters5_feed-header-top">
                    <a id="w-node-c5dbcd10-ea08-4f34-b5fb-c4587b540c5c-f481ed7e" data-w-id="c5dbcd10-ea08-4f34-b5fb-c4587b540c5c" href="#" class="filters5_filters-button w-inline-block">
                      <div class="icon-embed-xsmall w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7 11H17V13H7V11ZM4 7H20V9H4V7ZM10 15H14V17H10V15Z" fill="currentColor"></path>
                        </svg></div>
                      <div>Filters</div>
                    </a>
                    <div id="w-node-c5dbcd10-ea08-4f34-b5fb-c4587b540c60-f481ed7e" class="filters5_category-menu no-scrollbar">
                      <a href="#" class="filters5_menu-link current w-inline-block">
                        <div>View all</div>
                      </a>
                      <a href="#" class="filters5_menu-link w-inline-block">
                        <div>Category one</div>
                      </a>
                      <a href="#" class="filters5_menu-link w-inline-block">
                        <div>Category two</div>
                      </a>
                      <a href="#" class="filters5_menu-link w-inline-block">
                        <div>Category three</div>
                      </a>
                      <a href="#" class="filters5_menu-link last-link w-inline-block">
                        <div>Category four</div>
                      </a>
                    </div>
                    <div data-delay="200" data-hover="false" id="w-node-c5dbcd10-ea08-4f34-b5fb-c4587b540c70-f481ed7e" data-w-id="c5dbcd10-ea08-4f34-b5fb-c4587b540c70" class="dropdown1_component w-dropdown">
                      <div class="dropdown1_toggle w-dropdown-toggle">
                        <div>Sort by</div>
                        <div class="dropdown-chevron w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                          </svg></div>
                      </div>
                      <nav class="dropdown1_dropdown-list is-right w-dropdown-list">
                        <a href="#" fs-cmssort-field="IDENTIFIER" class="dropdown1_dropdown-link w-dropdown-link">Most Popular</a>
                        <a href="#" fs-cmssort-field="IDENTIFIER" class="dropdown1_dropdown-link w-dropdown-link">Most Recent</a>
                        <a href="#" fs-cmssort-field="IDENTIFIER" class="dropdown1_dropdown-link w-dropdown-link">Name: A to Z</a>
                        <a href="#" fs-cmssort-field="IDENTIFIER-desc" class="dropdown1_dropdown-link w-dropdown-link">Name: Z to A</a>
                        <a href="#" fs-cmssort-field="IDENTIFIER" class="dropdown1_dropdown-link w-dropdown-link">Price: Low to High</a>
                        <a href="#" fs-cmssort-field="IDENTIFIER-desc" class="dropdown1_dropdown-link w-dropdown-link">Price: High to Low</a>
                      </nav>
                    </div>
                  </div>
                  <div id="w-node-c5dbcd10-ea08-4f34-b5fb-c4587b540c82-f481ed7e" style="width:100%;height:0px" class="filters5_filters-wrapper">
                    <div id="w-node-c5dbcd10-ea08-4f34-b5fb-c4587b540c83-f481ed7e" class="filters5_form-block w-form">
                      <form id="wf-form-Filter-5" name="wf-form-Filter-5" data-name="Filter 5" method="get" fs-cmsfilter-element="filters" class="filters5_form" data-wf-page-id="6908db9050a1042af481ed7e" data-wf-element-id="c5dbcd10-ea08-4f34-b5fb-c4587b540c84">
                        <div class="margin-bottom margin-medium">
                          <div class="filters5_filter-group-list">
                            <div class="filters5_filter-group">
                              <div class="filters5_list-wrapper">
                                <div class="filters5_list">
                                  <div class="filters5_item">
                                    <div class="filters5_item-text-wrapper">
                                      <div>Filter One</div>
                                      <a fs-cmsfilter-field="IDENTIFIER" fs-cmsfilter-element="reset" href="#" class="button-2 is-link w-inline-block">
                                        <div class="text-size-small-5">Clear</div>
                                      </a>
                                    </div>
                                    <div class="filters5_keyword-search"><input class="form_input is-icon-left w-input" maxlength="256" name="field-4" fs-cmsfilter-field="IDENTIFIER" data-name="Field 4" placeholder="Keyword" fs-cmsfilter-debounce="200" type="text" id="field-4">
                                      <div class="form_icon-wrapper">
                                        <div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                                            <path d="M10 18C11.775 17.9996 13.4988 17.4054 14.897 16.312L19.293 20.708L20.707 19.294L16.311 14.898C17.405 13.4997 17.9996 11.7754 18 10C18 5.589 14.411 2 10 2C5.589 2 2 5.589 2 10C2 14.411 5.589 18 10 18ZM10 4C13.309 4 16 6.691 16 10C16 13.309 13.309 16 10 16C6.691 16 4 13.309 4 10C4 6.691 6.691 4 10 4Z" fill="currentColor"></path>
                                          </svg></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="filters5_filter-group">
                              <div class="filters5_item-text-wrapper">
                                <div>Filter Two</div>
                                <a fs-cmsfilter-field="IDENTIFIER" fs-cmsfilter-element="reset" href="#" class="button-2 is-link w-inline-block">
                                  <div class="text-size-small-5">Clear</div>
                                </a>
                              </div>
                              <div data-delay="200" data-hover="false" data-w-id="c5dbcd10-ea08-4f34-b5fb-c4587b540c9c" class="dropdown2_component is-filters5 w-dropdown">
                                <div class="dropdown2_toggle w-dropdown-toggle">
                                  <div>Option one</div>
                                  <div class="dropdown-chevron w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                                    </svg></div>
                                </div>
                                <nav data-w-id="c5dbcd10-ea08-4f34-b5fb-c4587b540ca1" class="dropdown2_dropdown-list is-filters5 w-dropdown-list">
                                  <div class="filters5_list">
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-1" id="Filter-One-Option-1" data-name="Filter One Option 1" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-1">Option one</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-2" id="Filter-One-Option-2" data-name="Filter One Option 2" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-2">Option two</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-3" id="Filter-One-Option-3" data-name="Filter One Option 3" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-3">Option three</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-4" id="Filter-One-Option-4" data-name="Filter One Option 4" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-4">Option four</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-5" id="Filter-One-Option-5" data-name="Filter One Option 5" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-5">Option five</span>
                                      </label></div>
                                  </div>
                                </nav>
                              </div>
                            </div>
                            <div class="filters5_filter-group">
                              <div class="filters5_item-text-wrapper">
                                <div>Filter Three</div>
                                <a fs-cmsfilter-field="IDENTIFIER" fs-cmsfilter-element="reset" href="#" class="button-2 is-link w-inline-block">
                                  <div class="text-size-small-5">Clear</div>
                                </a>
                              </div>
                              <div data-delay="200" data-hover="false" data-w-id="c5dbcd10-ea08-4f34-b5fb-c4587b540cc3" class="dropdown2_component is-filters5 w-dropdown">
                                <div class="dropdown2_toggle w-dropdown-toggle">
                                  <div>Option one</div>
                                  <div class="dropdown-chevron w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                                    </svg></div>
                                </div>
                                <nav data-w-id="c5dbcd10-ea08-4f34-b5fb-c4587b540cc8" class="dropdown2_dropdown-list is-filters5 w-dropdown-list">
                                  <div class="filters5_list">
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-1" id="Filter-One-Option-1" data-name="Filter One Option 1" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-1">Option one</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-2" id="Filter-One-Option-2" data-name="Filter One Option 2" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-2">Option two</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-3" id="Filter-One-Option-3" data-name="Filter One Option 3" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-3">Option three</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-4" id="Filter-One-Option-4" data-name="Filter One Option 4" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-4">Option four</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-5" id="Filter-One-Option-5" data-name="Filter One Option 5" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-5">Option five</span>
                                      </label></div>
                                  </div>
                                </nav>
                              </div>
                            </div>
                            <div class="filters5_filter-group">
                              <div class="filters5_item-text-wrapper">
                                <div>Filter Four</div>
                                <a fs-cmsfilter-field="IDENTIFIER" fs-cmsfilter-element="reset" href="#" class="button-2 is-link w-inline-block">
                                  <div class="text-size-small-5">Clear</div>
                                </a>
                              </div>
                              <div data-delay="200" data-hover="false" data-w-id="c5dbcd10-ea08-4f34-b5fb-c4587b540cea" class="dropdown2_component is-filters5 w-dropdown">
                                <div class="dropdown2_toggle w-dropdown-toggle">
                                  <div>Option one</div>
                                  <div class="dropdown-chevron w-embed"><svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
                                    </svg></div>
                                </div>
                                <nav data-w-id="c5dbcd10-ea08-4f34-b5fb-c4587b540cef" class="dropdown2_dropdown-list is-filters5 w-dropdown-list">
                                  <div class="filters5_list">
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-1" id="Filter-One-Option-1" data-name="Filter One Option 1" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-1">Option one</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-2" id="Filter-One-Option-2" data-name="Filter One Option 2" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-2">Option two</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-3" id="Filter-One-Option-3" data-name="Filter One Option 3" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-3">Option three</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-4" id="Filter-One-Option-4" data-name="Filter One Option 4" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-4">Option four</span>
                                      </label></div>
                                    <div class="filters5_item"><label class="w-checkbox filters5_form-checkbox">
                                        <div class="w-checkbox-input w-checkbox-input--inputType-custom filters5_form-checkbox1-icon"></div><input type="checkbox" name="Filter-One-Option-5" id="Filter-One-Option-5" data-name="Filter One Option 5" style="opacity:0;position:absolute;z-index:-1"><span fs-cmsfilter-field="IDENTIFIER" class="filters5_form-checkbox1-label w-form-label" for="Filter-One-Option-5">Option five</span>
                                      </label></div>
                                  </div>
                                </nav>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                      </div>
                      <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                      </div>
                    </div>
                    <a data-w-id="c5dbcd10-ea08-4f34-b5fb-c4587b540d10" href="#" class="filters5_tablet-modal-close-button w-inline-block"><img loading="lazy" src="https://uploads-ssl.webflow.com/6244257bf98bf00e37b25f97/6244257bf98bf0e23bb25fec_icon_close-modal.svg" alt=""></a>
                  </div>
                  <div class="filters5_feed-header-bottom">
                    <div class="filters5_tags-wrapper">
                      <div fs-cmsfilter-element="tag-template" class="filters5_tag">
                        <div fs-cmsfilter-element="tag-text">Tag</div>
                        <div class="filters5_close-icon w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.1266 16.773L16.7729 17.1266C16.5777 17.3218 16.2611 17.3218 16.0658 17.1266L12 13.0607L7.9341 17.1265C7.73888 17.3218 7.42229 17.3218 7.22702 17.1265L6.87347 16.773C6.6782 16.5777 6.6782 16.2612 6.87347 16.0659L10.9394 12L6.87347 7.93413C6.6782 7.73891 6.6782 7.42232 6.87347 7.22705L7.22702 6.8735C7.42228 6.67824 7.73888 6.67824 7.9341 6.8735L12 10.9394L16.0658 6.8735C16.2611 6.67824 16.5777 6.67824 16.7729 6.8735L17.1266 7.22705C17.3218 7.42231 17.3218 7.73891 17.1266 7.93413L13.0607 12L17.1266 16.0659C17.3218 16.2612 17.3218 16.5777 17.1266 16.773Z" fill="currentColor"></path>
                          </svg></div>
                      </div>
                    </div>
                    <div class="filters5_results-wrapper">
                      <div class="filters5_results-text">Showing <span fs-cmsfilter-element="results-count">0</span> of <span fs-cmsfilter-element="items-count">100</span></div>
                    </div>
                  </div>
                  <div id="w-node-c5dbcd10-ea08-4f34-b5fb-c4587b540d20-f481ed7e" class="filters5_feed">
                    <div class="feed-content-replace-this-div"></div>
                    <div fs-cmsfilter-element="empty" class="filters5_empty">
                      <div class="margin-bottom margin-xxsmall">
                        <div class="heading-style-h6">No results found.</div>
                      </div>
                      <div>There are no results with this criteria. Try changing your search.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</BaseLayout>
