---
// Footer component
---

<footer class="footer4_component">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-vertical padding-xxlarge">
        <div class="divider-horizontal footer_divider"></div>
        <div class="padding-top padding-medium">
          <div class="footer8_bottom-wrapper">
            <div class="footer8_credit-text">&copy; {new Date().getFullYear()} MMTUK Policy Group Ltd</div>
            <div class="w-layout-grid footer8_legal-list">
              <a href="/privacy-policy" class="footer8_legal-link">Privacy policy</a>
              <a href="/terms-of-engagement" class="footer8_legal-link">Terms of engagement</a>
              <a href="/cookie-preferences" class="footer8_legal-link">Cookie preferences</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
