---
// Navbar component - Complex mega menu navigation
interface Props {
  currentPage?: string;
}

const { currentPage = '' } = Astro.props;

// Helper to determine if a link is current
const isCurrentPage = (page: string) => currentPage === page;
---

<div fs-scrolldisable-element="smart-nav" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar5_component color-scheme-1 w-nav">
  <div class="navbar5_container">
    <a href="/" class:list={["navbar5_logo-link", "w-nav-brand", { "w--current": isCurrentPage('home') }]}>
      <img loading="eager" height="32px" alt="MMT UK Logo" src="/images/relume-438483.avif" class="navbar5_logo">
    </a>
    <nav role="navigation" class="navbar5_menu w-nav-menu">
      <div class="navbar5_menu-left">
        <a href="/research" class="navbar5_link w-nav-link">Research</a>
        <a href="/education" class="navbar5_link w-nav-link">Education</a>
        <a href="/community" class="navbar5_link w-nav-link">Community</a>
        <a href="/about-us" class="navbar5_link w-nav-link">About Us</a>
      </div>
      <div class="navbar5_menu-right">
        <a href="/donate" class="button is-secondary is-small w-button">Donate</a>
        <a href="/join" class="button is-small w-button">Join</a>
      </div>
    </nav>
    <div class="navbar5_menu-button w-nav-button">
      <div class="menu-icon1">
        <div class="menu-icon1_line-top"></div>
        <div class="menu-icon1_line-middle">
          <div class="menu-icon1_line-middle-inner"></div>
        </div>
        <div class="menu-icon1_line-bottom"></div>
      </div>
    </div>
  </div>
</div>

<style>
  .navbar5_link {
    position: relative;
    font-weight: 500;
    color: var(--_primitives---colors--neutral-darkest);
  }

  .navbar5_link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  .navbar5_link:hover::after {
    width: 100%;
  }
</style>
